/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* -------- All Page Effects -------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family:'Yusei Magic', sans-serif;
    font-weight: 400; 
  }

  h1 {
    font-size: 50px;
    font-weight: 800;
  }

 
  a {  
  /* unvisited links */
    color: #0319e0;
  }
 
  a:visited {
     /* visited links  */
    color: #c479bd;
  }

  a:active {
    /* selected link */
    color: #111111;
  }

  a:hover,a:focus {
  /* user hovers and keyboard focus state   */
    text-decoration: none;
  }
  
  
 

  .navigation-list__item--active {
    text-decoration: none;
  }

  div {
    padding: 10px;
    margin: 10px;

  }

  .profile {
    max-width: 500px;
    margin: 0 auto;
  }


  .profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
  }

  .page_footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }



  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(100,100,150,0.5);
  }
  
  .flex-item {
    background-color: rgba(100,100,150,1);
    height: 75px;
    margin: 10px;
    text-align: center;
    color: white;
    line-height: 75px;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .flex-item:last-child {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }


  /*---------- All Page Header ------------*/
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;

  }


  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

  .navigation__logo {
    position: relative;
    top: 10px;
    left: 10px;
  }

/* --------Work -------- */

  .grid__item {
    background-color: lightgray;
    padding: 10px;
    border: flex;
    width: auto;
    min-height: auto;
    
  }
 
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
    -ms-grid-rows: 300px 300px;
    grid-template-rows: 300px 300px;
  }
 
  .grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  }
 
  .grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  }
 
  .grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  }
 
  .grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  }
 
  .grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  }
 
  .grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  

  /* --------- About Page Selectors ---------*/

  .button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
  @-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #ffadff;
    }
    100% {
      fill: #f76414;
    }
  }
  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #ffadff;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }

  